

  <font color="white"><p>
  <%= label(:user, :email) %>
  <div><%= text_field(:user, :email) %></div>
  </p>

  <p>
  <%= label(:user, :username) %>
  <div><%= text_field(:user, :username) %></div>
  </p>

  <p>
  <%= label(:user, :password) %>
  <div><%= text_field(:user, :password_digest) %></div>
  </p></font>

  <%= submit_tag "Submit" %> 

