<h2>Hello Visitor! Create an Account!</h2>

<%= render partial: '/errors', locals: { record: @user } %>

<%= form_for @user, url: zoo_users_path(@user.zoo.id), method: :post do |w| %>
<%= w.hidden_field :zoo_id, :value => @user.zoo.id %>
<p>
  <%= w.label :name %>
  <%= w.text_field :name %>
</p>

<%= render 'form' %>


<% end %>