<font color="white">


  <h1>Welcome, <%= @user.username %>!</h1>
  <h2>Please see below for our Package. Hours of Operation (subject to change)</h2>

  <% Zoo.all.each do |z| %>
    <img src= <%= z.image %> alt="rss feed" /><br> 

              <div id="times">
              <%# allows me to call on shadow box style %>
                <p><%= z.name %> is open daily, except Thanksgiving and Christmas days.</p>
                <p>Regular hours: 9:00am – 5:00pm.</p>
              </div><br>
              
    <% end %>

    <h2>General Admission Rates (per visit)</h2>
      <p><strong>Adults</strong> (ages 13–61) — $19.95 per person</p>
      <p><strong>Children</strong> (ages 2–12) — $16.95 per person</p>
      <p><strong>Children</strong> (younger than 2) — FREE</p>
      <p><strong>Seniors</strong> (ages 62 and up) <strong>and Military</strong> (with military ID) — $17.95 per person</p>
      <p><strong>Parking</strong> — $5 per vehicle (fee collected at ticket window)</p>

        <%= link_to "Purchase a Ticket!", new_user_ticket_path(@user.id) %> 
        <%= link_to "Reviews", new_user_review_path(@user.id) %><br><br>

        <% if @worker.nil? %>
          <%= link_to "Start your Career!", new_user_address_path(@user.id) %>
        <% else %>
         <%= link_to "Clock In", new_user_feeding_path(@user.id) %>
        <% end %>
        
</font>
