<font color="white">
    <h1><u>Purchase a Ticket</u></h1>
    <%= render partial: '/errors', locals: { record: @ticket } %>

    <%= form_for @ticket, url: user_tickets_path(@ticket.user_id), method: :post do |w| %>
        <b>Times</b><br>
        <% zoo_times["times"].each do |t| %>
            <div><%= w.radio_button :time, t %> <%= t %></div>
        <% end %><br><br>

        <b>Please choose Age Group</b><br> 
            <% zoo_times["prices"].each do |p| %>
                <% p.each do |key, value| %>
    
                  <div><p><%= w.radio_button :price, value %> <%= key %></p></div>
                <% end %>
            <% end %><br>

        <b>Available Attractions</b><br>

        <%= w.collection_select :attraction_id, Attraction.all , :id, :name, include_blank: 'Create Attraction' %> or <br><br>
        <b>Create New Attraction:</b><br>
        <%= w.fields_for :attraction do |a| %>
        <%= a.label :name %>
        <%= a.text_field :name %>
        <% end %>

        <%= w.hidden_field :user_id, value: @ticket.user_id %>
</font>
        <%= w.submit "Submit" %> 
        <% end %>