
  <font color="white">
  <legend><p>
    <div><%= label(:address, :Address1) %></div>
    <div><%= text_field(:address, :address1) %></div>
  </p>
  <p>
    <div><%= label(:address, :Address2) %></div>
    <div><%= text_field(:address, :address2) %></div>
  </p>
  <p>
    <div><%= label(:address, :City) %></div>
    <div><%= text_field(:address, :city) %></div>
  </p>
  <p>
    <div><%= label(:address, :State) %></div>
    <div><%= text_field(:address, :state) %></div>
  </p>
    <p>
    <div><%= label(:address, :Zip) %></div>
    <div><%= text_field(:address, :zip) %></div>
  </p></legend>
  
  </font>

  <%= submit_tag "Submit" %> 