<div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Create an Account</h1>
      <%= form_for(@worker) do |f| %>
         Full Name: <%= f.text_field :name %>
         Email: <%= f.text_field :email %>
         Username: <%= f.text_field :username %>
         Password: <%= f.text_field :password_digest %>
      <% end %>

        <input type="submit" />


</div><!-- end grid -->
</div><!-- end mainConten -->    