<font color="white">
    <h4>Edit Review </h4>

  <h1><img src="https://nikolausrusticwoodworkcom.files.wordpress.com/2017/03/images.png" alt="rss feed" /></h1>
<h3>
  <%= form_for @review, url: user_review_path(@review.user_id, @review.id), method: :patch do |w| %>  

 
    <b>Star Rating:</b> 
    <% rating.each do |r| %>
        <%= r %> <%= w.radio_button :stars, r %>
    <% end %>
    <p>
      <%= w.label :review %>
      <%= w.text_area :review %>
    </p>
</font>

  <%= w.hidden_field :user_id, value: @review.user_id %>

  <%= w.submit "Submit" %>  
<% end %>
<h3>