
<font color="white">
  <h1><u>Leave a Review!</u></h1>
  <h1><img src="https://nikolausrusticwoodworkcom.files.wordpress.com/2017/03/images.png" alt="rss feed" /></h1>
  <h3>
  <%= render partial: '/errors', locals: { record: @review } %><br>
  <%= form_for @review, url: user_reviews_path(@review.user_id), method: :post do |w| %>  
  
    <b>Star Rating:</b> 
    <% rating.each do |r| %>
     <div><td><%= r %> <%= w.radio_button :stars, r %></td></div>
    <% end %>

  <div>
    <p>
      <%= w.label :review %>
      <%= w.text_area :review %>
    </p>
  </div>

  <%= w.hidden_field :user_id, value: @review.user_id %>
  <%= w.collection_select :attraction_id, Attraction.all , :id, :name %>

  <%= w.submit "Submit" %>  <br>
  Already left a review? See what others have to say about us: <%= number_of_reviews %> <%= link_to  "Reviews", user_reviews_path(@review.user.id) %>
  <% end %>
  </font>
</h3>

  